<div class="grid-container">

  <body>
    <h3>Financing: Part 2 of 3</h3>
    <div class="form">
      <p class="number"><strong>FINANCE TERMS: Buyer represents that funds will be good when deposited with Escrow
          Holder.</strong>
      </p>

      <p class="number"><strong>INITIAL DEPOSIT: Deposit shall be in the amount of </strong>
        <input type="text" placeholder="$$ Deposit Amount" id="deposit" name="deposit">

        <p class="letter"><strong>(1)</strong> Buyer shall deliver deposit directly to Escrow Holder, attorney
          or seller by
          <label class="radio">
            <input type="radio" name="check" value="1">
            <span>electronic funds transfer </span>
          </label>
          <label class="radio">
            <input type="radio" name="check" value="2">
            <span>cashier's check</span>
          </label>
          <label class="radio">
            <input type="radio" name="check" value="3">
            <span>personal check </span>
          </label>within 3 business days after Acceptance or,<br />

          <label class="radio">
            <input type="radio" name="check" value="2">
            <span>cashier's check</span>
          </label>
          <label class="radio">
            <input type="radio" name="check" value="3">
            <span>personal check </span>
          </label>within 3 business days after Acceptance or,<br /><strong>(2)</strong> Buyer has already
          given
          the
          deposit by
          <label class="radio">
            <input type="radio" name="check" value="4">
            <span>cashiers check </span>
          </label>
          <label class="radio">
            <input type="radio" name="check" value="5">
            <span>personal check.</span>
          </label>The deposit shall be held uncashed until Acceptance and then deposited
          with Escrow Holder within 3 business days after Acceptance.

          <p class="number"><strong>INCREASED DEPOSIT: </strong>Buyer shall deposit with Escrow Holder an
            increased
            deposit in the amount of
            <input type="text" placeholder="$$ Increased deposit" id="loan1" name="price"> within
            <input type="text" placeholder="number of days" id="loan1" name="price"> days after
            acceptance.<BR />
            <p class="number"><strong>ALL CASH OFFER:</strong><label class="radio">
                <input type="radio" name="fha" value="1">
                <span>No Loan is needed to purchase the Property. This offer is NOT
                  contingent on Buyer
                  obtaining a loan. Written verification of sufficient funds to close this transaction IS
                  ATTACHED to this offer or</span>
              </label>
            </p>
            <p class="number">
              <label class="radio">
                <input type="radio" name="cash" value="1">
                <span>buyer shall within 3 Days After Acceptance, Deliver to Seller such
                  verification.</span>
              </label>
            </p>
            <p class="number"><strong>LOAN(S):</strong>
              <p class="letter"><strong> (1): FIRST LOAN:</strong> in the amount of
                <input type="text" placeholder="Loan Amount" id="loan1" name="price">
                This loan will be conventional financing or
                <label class="radio">
                  <input type="radio" name="fha" value="1">
                  <span>FHA </span>
                </label>
                <label class="radio">
                  <input type="radio" name="fha" value="2">
                  <span>VA</span>
                </label>(attach FHA/VA Financing Addendum)
                <label class="radio">
                  <input type="radio" name="fha" value="3">
                  <span>Conventional</span>
                </label>
                <label class="radio">
                  <input type="radio" name="fha" value="4">
                  <span>Other.</span>
                </label>
                This loan shall be at a fixed
                rate not to exceed <input type="text" placeholder="Interest Rate" id="loan1" name="price">
                or,
                <label class="radio">
                  <input type="radio" name="type" value="4">
                  <span>an adjustable rate loan with initial rate not to exceed</span>
                </label>
                <input type="text" placeholder="Interest Rate" id="loan1" name="price"> Regardless of the
                type
                of
                loan, Buyer shall pay points not to exceed
                <input type="text" placeholder="Points paid" id="loan1" name="price"> of the loan amount.
                <label class="radio">
                </label>
                <p class="letter">
                  <label class="radio">
                    <input type="radio" name="cash" value="1">
                    <span><strong> (2): SECOND LOAN:</strong></span>
                  </label> in the amount of
                  <input type="text" placeholder="Loan Amount" id="loan1" name="price">
                  This loan will be conventional financing or
                  <label class="radio">
                    <input type="radio" name="2nd" value="1">
                    <span>Seller financing </span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="2nd" value="2">
                    <span>assumed financing</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="2nd" value="3">
                    <span>other</span>
                  </label>
                  This loan shall be at a fixed
                  rate not to exceed <input type="text" placeholder="Interest Rate" id="loan1" name="price">
                  or,
                  <label class="radio">
                    <input type="radio" name="type" value="4">
                    <span>an adjustable rate loan with initial rate not to exceed</span>
                  </label>
                  <input type="text" placeholder="Interest Rate" id="loan1" name="price"> Regardless of
                  the
                  type
                  of
                  loan, Buyer shall pay points not to exceed
                  <input type="text" placeholder="Points paid" id="loan1" name="price"> of the loan
                  amount.
                  <label class="radio">
                  </label>
                  <p class="number"><strong>BALANCE OF DOWN PAYMENT OR PURCHASE PRICE: </strong>
                    <input type="text" placeholder="Add total here [self-calc]" id="addterm" name="price">
                    <p class="number"><strong>APPRAISAL CONTINGENCY AND REMOVAL: </strong>This Agreement
                      <label class="radio">
                        <input type="radio" name="appraise" value="1">
                        <span>is </span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="appraise" value="2">
                        <span>is not</span>
                      </label>contingent upon a written appraisal of the
                      Property by a licensed or certified appraiser at no less than the purchase
                      price.
                      Buyer shall, as specified in paragraph 14B(3),
                      in writing, remove the appraisal contingency or cancel this Agreement within 17
                      Days
                      After Acceptance.
                      <label class="radio">
                        <input type="radio" name="noloan" value="1">
                        <span><strong>NO LOAN CONTINGENCY: </strong></span>
                      </label>Obtaining any loan specified above is NOT a contingency of this
                      Agreement.
                      If Buyer does not
                      obtain the loan and as a result does not purchase the Property, Seller may be
                      entitled to Buyer's deposit or other legal remedies.
                      <p class="number"><strong>SALE OF BUYER'S PROPERTY: </strong>This Agreement and
                        Buyer's ability to obtain financing
                        <label class="radio">
                          <input type="radio" name="sale" value="1">
                          <span>is </span>
                        </label>
                        <label class="radio">
                          <input type="radio" name="sale" value="2">
                          <span>is not</span>
                        </label>contingent upon the sale of any property owned by Buyer.
                      </p>
    </div>
    <div class=nav-btn>
      <a routerLink="/cacontract1" class="nav-item" div class="nav-item-btn"><button type="button" class="btn">Previous
        </button></a>
      <a routerLink="/cacontract3" class="nav-item" div class="nav-item-btn"><button type="button" class="btn">Next
        </button></a>
    </div>
  </body>
</div>